/* Blue - Default */
/*BLUE GLOSS 1*/
#colorPreviewCircle {
    width: 100% !important;
    height: 80px ;
    border-radius: 8px;
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.color-option {
    width:100% !important;
     height: 32px !important;
    }

/* Mobile Body Fix */
@media (max-width: 768px) {
    .color-option {
    width:100% !important;
     height: 32px !important;
    }

    #colorPreviewCircle {
    width: 100% !important;
}
}

.color-name {
    display: block !important;
    visibility: hidden !important;
}

.color-black { 
    background: linear-gradient(to bottom, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 50%,rgba(6,6,6,1) 51%,rgba(4,4,4,1) 100%);

}

.color-blue { 
    background: linear-gradient(to bottom, rgba(119,198,251,1) 0%,rgba(109,182,241,1) 10%,rgba(89,158,227,1) 25%,rgba(89,159,233,1) 37%,rgba(87,160,239,1) 50%,rgba(55,143,231,1) 51%,rgba(103,196,243,1) 83%,rgba(124,233,252,1) 100%);

}

/* Purple */
.color-purple { 
    background: linear-gradient(to bottom, rgba(119,59,159,1) 0%,rgba(133,43,217,1) 50%,rgba(120,32,202,1) 51%,rgba(177,126,232,1) 100%);

}

/* Pink */
.color-pink { 
    background: linear-gradient(to bottom, rgba(246,198,246,1) 0%,rgba(249,131,214,1) 50%,rgba(253,101,202,1) 51%,rgba(255,91,206,1) 100%);

}

/* Cyan */
.color-cyan {
    background: linear-gradient(to bottom, rgba(183,232,237,1) 0%,rgba(113,228,239,1) 50%,rgba(34,216,226,1) 51%,rgba(183,232,237,1) 100%);
}

/* Mint */
.color-mint { 
    background: linear-gradient(to bottom, #c5f5f2 0%, #a8edea 25%, #a8edea 50%, #fed6e3 75%, #ffdeeb 100%); 

}

/* Orange */
.color-orange { 
    background: linear-gradient(to bottom, rgba(255,166,33,1) 0%,rgba(255,173,49,1) 12%,rgba(255,179,65,1) 25%,rgba(255,164,27,1) 39%,rgba(250,150,0,1) 50%,rgba(194,116,0,1) 51%,rgba(194,116,0,1) 76%,rgba(218,131,0,1) 100%);

}

/* Orange2 */
.color-orange2 { 
    background:linear-gradient(to bottom, rgba(255,170,155,1) 0%,rgba(255,80,49,1) 50%,rgba(224,37,0,1) 51%,rgba(244,98,0,1) 75%,rgba(190,32,0,1) 100%);

}

/* Lavender */
.color-lavender { 
    background: linear-gradient(to bottom, rgba(182,167,223,1) 0%,rgba(174,116,218,1) 50%,rgba(168,95,217,1) 51%,rgba(161,87,217,1) 100%);

}

/* Peach */
.color-peach { 
    background: linear-gradient(to bottom, rgba(248,203,198,1) 0%,rgba(227,117,105,1) 50%,rgba(227,79,63,1) 51%,rgba(238,148,138,1) 100%);

}

/* Green */
.color-green { 
    background: linear-gradient(to bottom, rgba(194,233,189,1) 0%,rgba(170,225,163,1) 50%,rgba(149,210,140,1) 51%,rgba(72,187,59,1) 100%);
 
}

/* Yellow */
.color-yellow { 
    background: linear-gradient(to bottom, rgba(253,221,139,1) 0%,rgba(254,197,40,1) 50%,rgba(220,161,0,1) 51%,rgba(253,213,101,1) 100%);

}

/* Red */
.color-red { 
    background:  linear-gradient(to bottom, rgba(167,21,30,1) 0%,rgba(189,23,34,1) 12%,rgba(208,26,38,1) 25%,rgba(158,20,29,1) 39%,rgba(116,14,21,1) 50%,rgba(46,6,8,1) 51%,rgba(73,9,13,1) 60%,rgba(91,11,17,1) 91%,rgba(77,9,14,1) 100%);

}

/* Teal */
.color-teal { 
    background: linear-gradient(to bottom, #7dd3fc 0%, #38bdf8 25%, #38bdf8 50%, #0891b2 75%, #22d3ee 100%); 

}

/* Indigo */
.color-indigo { 
    background: linear-gradient(to bottom, #a5b4fc 0%, #818cf8 25%, #818cf8 50%, #6366f1 75%, #8b5cf6 100%); 

}

/* Emerald */
.color-emerald { 
    background: linear-gradient(to bottom, #86efac 0%, #4ade80 25%, #4ade80 50%, #22c55e 75%, #34d399 100%); 

}

/* Rose */
.color-rose { 
    background:linear-gradient(to bottom, rgba(255,25,125,1) 0%,rgba(255,43,135,1) 12%,rgba(255,59,144,1) 25%,rgba(255,19,121,1) 39%,rgba(240,0,104,1) 50%,rgba(184,0,80,1) 51%,rgba(206,0,89,1) 60%,rgba(184,0,80,1) 76%,rgba(220,0,95,1) 91%,rgba(208,0,90,1) 100%);

}

/* tan */
.color-tan { 
    background:linear-gradient(to bottom, rgba(237,221,207,1) 0%,rgba(211,170,131,1) 50%,rgba(193,131,73,1) 51%,rgba(227,202,179,1) 100%);

}

.color-gray { 
    background:  linear-gradient(to bottom, rgba(197,197,197,1) 0%,rgba(178,178,178,1) 21%,rgba(153,153,153,1) 49%,rgba(179,179,179,1) 80%,rgba(197,197,197,1) 100%);

}

.color-cobalt { 
    background:  linear-gradient(to bottom, rgba(67,121,213,1) 0%,rgba(68,108,196,1) 10%,rgba(69,96,169,1) 25%,rgba(64,93,178,1) 37%,rgba(58,91,188,1) 50%,rgba(55,83,161,1) 51%,rgba(62,122,200,1) 83%,rgba(67,158,215,1) 100%);

}

/* Green */
.color-urban { 
    background:   linear-gradient(to bottom, rgba(167,198,150,1) 0%,rgba(133,176,114,1) 22%,rgba(115,166,94,1) 33%,rgba(107,157,87,1) 50%,rgba(101,147,81,1) 67%,rgba(63,85,55,1) 82%,rgba(46,62,42,1) 100%);

}

.color-spooky { 
    background: linear-gradient(to bottom, rgba(250,208,182,1) 0%,rgba(242,80,16,1) 3%,rgba(246,140,74,1) 50%,rgba(235,95,1,1) 51%,rgba(255,162,1,1) 75%,rgba(200,80,0,1) 100%);
}

/* Green */
.color-bbyellow { 
    background:  linear-gradient(to bottom, rgba(222,217,152,1) 0%,rgba(204,195,76,1) 50%,rgba(165,157,45,1) 51%,rgba(215,208,123,1) 100%);
}

/* Green */
.color-lavender2 { 
    background:  linear-gradient(to bottom, rgba(204,198,240,1) 0%,rgba(192,179,229,1) 50%,rgba(180,170,226,1) 51%,rgba(165,162,224,1) 100%);
}

/* Green */
.color-toyred { 
    background: linear-gradient(to bottom, rgba(242,164,162,1) 0%,rgba(230,80,78,1) 24%,rgba(193,11,7,1) 50%,rgba(226,51,48,1) 79%,rgba(233,99,97,1) 100%);
}

/* Green */
.color-mudgreen { 
    background: linear-gradient(to bottom, rgba(127,120,41,1) 0%,rgba(135,129,47,1) 50%,rgba(110,105,26,1) 51%,rgba(104,97,18,1) 100%);

}

/* Green */
.color-deepbrown { 
    background: linear-gradient(to bottom, rgba(173,101,73,1) 0%,rgba(69,39,27,1) 50%,rgba(56,27,16,1) 51%,rgba(104,73,60,1) 100%);

}

.color-teal2 { 
    background: linear-gradient(to bottom, rgba(190,194,196,1) 0%,rgba(187,200,205,1) 17%,rgba(131,157,165,1) 50%,rgba(103,137,149,1) 51%,rgba(116,155,164,1) 59%,rgba(131,179,185,1) 71%,rgba(103,140,149,1) 84%,rgba(72,95,106,1) 100%);

}

.color-palegreen { 
    background: linear-gradient(to bottom, rgba(191,210,148,1) 0%,rgba(134,170,108,1) 44%,rgba(62,117,59,1) 100%);

}

.color-negative { 
    background:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    border-color: black;
    color: black;
}

.color-cnegative { 
    background:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    border-color: #da0053; 
    color: #da0053; 
}

.color-caution { 
    background:  linear-gradient(to bottom, rgb(0 0 0) 0%,rgb(19 19 19) 47%,rgb(11 11 11) 100%);
    border-color: #efec15; 
    color: #efec15; 
}

.color-policeman2 { 
    background: linear-gradient(to bottom, rgba(53,117,131,1) 0%,rgba(36,80,65,1) 50%,rgba(3,9,3,1) 51%,rgba(7,3,5,1) 100%);

}

.color-brown { 
    background: linear-gradient(to bottom, rgba(161,100,3,1) 0%,rgba(107,67,3,1) 50%,rgba(93,58,3,1) 51%,rgba(148,93,4,1) 100%);

}

.color-navy { 
    background: linear-gradient(to bottom, rgba(125,149,195,1) 0%,rgba(87,112,179,1) 22%,rgba(75,99,163,1) 33%,rgba(70,91,154,1) 50%,rgba(65,87,145,1) 67%,rgba(41,51,83,1) 82%,rgba(33,31,57,1) 100%);

}

.color-lenn { 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(147,185,184,1) 100%);
}

.color-chiipink { 
    background: linear-gradient(to bottom, rgba(239,213,222,1) 0%,rgba(233,175,196,1) 50%,rgba(219,131,166,1) 51%,rgba(239,213,222,1) 100%);

}

.color-forest { 
    background: linear-gradient(to bottom, rgba(26,82,16,1) 0%,rgba(43,115,21,1) 50%,rgba(37,107,17,1) 51%,rgba(36,96,18,1) 100%);

}

.color-rust { 
    background: linear-gradient(to bottom, rgba(230,152,92,1) 0%,rgba(169,100,47,1) 50%,rgba(147,87,41,1) 51%,rgba(220,141,80,1) 100%);

}

.color-babyblue { 
    background: linear-gradient(to bottom, rgba(150,202,218,1) 0%,rgba(140,196,218,1) 26%,rgba(129,192,219,1) 51%,rgba(108,184,214,1) 51%,rgba(115,188,219,1) 62%,rgba(121,195,227,1) 75%,rgba(99,174,207,1) 88%,rgba(74,157,190,1) 100%);

}

.color-sepia { 
    background:linear-gradient(to bottom, rgba(164,138,96,1) 0%,rgba(102,91,72,1) 50%,rgba(89,79,63,1) 51%,rgba(150,129,94,1) 100%);

}

.color-darkgray {
    background: linear-gradient(to bottom, rgba(92,96,102,1) 0%,rgba(92,96,102,1) 24%,rgba(89,96,102,1) 36%,rgba(40,52,59,1) 100%);
}