

/* Blue - Default */
/*BLUE GLOSS 1*/
.private-message-bubble.user-color-black { 
    --user-gradient: linear-gradient(to bottom, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 50%,rgba(6,6,6,1) 51%,rgba(4,4,4,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

.private-message-bubble.user-color-blue { 
    --user-gradient: linear-gradient(to bottom, rgba(119,198,251,1) 0%,rgba(109,182,241,1) 10%,rgba(89,158,227,1) 25%,rgba(89,159,233,1) 37%,rgba(87,160,239,1) 50%,rgba(55,143,231,1) 51%,rgba(103,196,243,1) 83%,rgba(124,233,252,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Purple */
.private-message-bubble.user-color-purple { 
    --user-gradient: linear-gradient(to bottom, rgba(119,59,159,1) 0%,rgba(133,43,217,1) 50%,rgba(120,32,202,1) 51%,rgba(177,126,232,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Pink */
.private-message-bubble.user-color-pink { 
    --user-gradient: linear-gradient(to bottom, rgba(246,198,246,1) 0%,rgba(249,131,214,1) 50%,rgba(253,101,202,1) 51%,rgba(255,91,206,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Cyan */
.private-message-bubble.user-color-cyan { 
    --user-gradient: linear-gradient(to bottom, rgba(183,232,237,1) 0%,rgba(113,228,239,1) 50%,rgba(34,216,226,1) 51%,rgba(183,232,237,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #000000; 
    --user-border-color: #ffffff; 
}

/* Mint */
.private-message-bubble.user-color-mint { 
    --user-gradient: linear-gradient(to bottom, #c5f5f2 0%, #a8edea 25%, #a8edea 50%, #fed6e3 75%, #ffdeeb 100%); 
    --user-tail-color: #ffffff; 
    --user-text-color: #333333; 
    --user-border-color: #ffffff; 
}

/* Orange */
.private-message-bubble.user-color-orange { 
    --user-gradient: linear-gradient(to bottom, rgba(255,166,33,1) 0%,rgba(255,173,49,1) 12%,rgba(255,179,65,1) 25%,rgba(255,164,27,1) 39%,rgba(250,150,0,1) 50%,rgba(194,116,0,1) 51%,rgba(194,116,0,1) 76%,rgba(218,131,0,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #333333; 
    --user-border-color: #ffffff; 
}

/* Orange2 */
.private-message-bubble.user-color-orange2 { 
    --user-gradient:linear-gradient(to bottom, rgba(255,170,155,1) 0%,rgba(255,80,49,1) 50%,rgba(224,37,0,1) 51%,rgba(244,98,0,1) 75%,rgba(190,32,0,1) 100%);

    --user-tail-color: #ffffff; 
    --user-text-color: #333333; 
    --user-border-color: #ffffff; 
}

/* Lavender */
.private-message-bubble.user-color-lavender { 
    --user-gradient: linear-gradient(to bottom, rgba(182,167,223,1) 0%,rgba(174,116,218,1) 50%,rgba(168,95,217,1) 51%,rgba(161,87,217,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Peach */
.private-message-bubble.user-color-peach { 
    --user-gradient: linear-gradient(to bottom, rgba(248,203,198,1) 0%,rgba(227,117,105,1) 50%,rgba(227,79,63,1) 51%,rgba(238,148,138,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #333333; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-green { 
    --user-gradient: linear-gradient(to bottom, rgba(194,233,189,1) 0%,rgba(170,225,163,1) 50%,rgba(149,210,140,1) 51%,rgba(72,187,59,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #333333; 
    --user-border-color: #ffffff; 
}

/* Yellow */
.private-message-bubble.user-color-yellow { 
    --user-gradient: linear-gradient(to bottom, rgba(253,221,139,1) 0%,rgba(254,197,40,1) 50%,rgba(220,161,0,1) 51%,rgba(253,213,101,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #000000; 
    --user-border-color: #ffffff; 
}

/* Red */
.private-message-bubble.user-color-red { 
    --user-gradient:  linear-gradient(to bottom, rgba(167,21,30,1) 0%,rgba(189,23,34,1) 12%,rgba(208,26,38,1) 25%,rgba(158,20,29,1) 39%,rgba(116,14,21,1) 50%,rgba(46,6,8,1) 51%,rgba(73,9,13,1) 60%,rgba(91,11,17,1) 91%,rgba(77,9,14,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Teal */
.private-message-bubble.user-color-teal { 
    --user-gradient: linear-gradient(to bottom, #7dd3fc 0%, #38bdf8 25%, #38bdf8 50%, #0891b2 75%, #22d3ee 100%); 
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Indigo */
.private-message-bubble.user-color-indigo { 
    --user-gradient: linear-gradient(to bottom, #a5b4fc 0%, #818cf8 25%, #818cf8 50%, #6366f1 75%, #8b5cf6 100%); 
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Emerald */
.private-message-bubble.user-color-emerald { 
    --user-gradient: linear-gradient(to bottom, #86efac 0%, #4ade80 25%, #4ade80 50%, #22c55e 75%, #34d399 100%); 
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Rose */
.private-message-bubble.user-color-rose { 
    --user-gradient:linear-gradient(to bottom, rgba(255,25,125,1) 0%,rgba(255,43,135,1) 12%,rgba(255,59,144,1) 25%,rgba(255,19,121,1) 39%,rgba(240,0,104,1) 50%,rgba(184,0,80,1) 51%,rgba(206,0,89,1) 60%,rgba(184,0,80,1) 76%,rgba(220,0,95,1) 91%,rgba(208,0,90,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* tan */
.private-message-bubble.user-color-tan { 
    --user-gradient:linear-gradient(to bottom, rgba(237,221,207,1) 0%,rgba(211,170,131,1) 50%,rgba(193,131,73,1) 51%,rgba(227,202,179,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

.private-message-bubble.user-color-gray { 
    --user-gradient:  linear-gradient(to bottom, rgba(197,197,197,1) 0%,rgba(178,178,178,1) 21%,rgba(153,153,153,1) 49%,rgba(179,179,179,1) 80%,rgba(197,197,197,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #000000; 
    --user-border-color: #ffffff; 
}

.private-message-bubble.user-color-cobalt { 
    --user-gradient:  linear-gradient(to bottom, rgba(67,121,213,1) 0%,rgba(68,108,196,1) 10%,rgba(69,96,169,1) 25%,rgba(64,93,178,1) 37%,rgba(58,91,188,1) 50%,rgba(55,83,161,1) 51%,rgba(62,122,200,1) 83%,rgba(67,158,215,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-urban { 
    --user-gradient:   linear-gradient(to bottom, rgba(167,198,150,1) 0%,rgba(133,176,114,1) 22%,rgba(115,166,94,1) 33%,rgba(107,157,87,1) 50%,rgba(101,147,81,1) 67%,rgba(63,85,55,1) 82%,rgba(46,62,42,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-spooky { 
    --user-gradient: url('../images/bat_ov.png'), linear-gradient(to bottom, rgba(160,0,0,1) 0%,rgba(144,0,0,1) 45%,rgba(126,0,0,1) 100%);
   --user-tail-color: #ffffff;
   --user-text-color: #ffffff;
   --user-text-shadow-color: #000000;
   --user-border-color: #ffffff;
}

/* Green */
.private-message-bubble.user-color-bbyellow { 
    --user-gradient:  linear-gradient(to bottom, rgba(222,217,152,1) 0%,rgba(204,195,76,1) 50%,rgba(165,157,45,1) 51%,rgba(215,208,123,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #000000; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-lavender2 { 
    --user-gradient:  linear-gradient(to bottom, rgba(204,198,240,1) 0%,rgba(192,179,229,1) 50%,rgba(180,170,226,1) 51%,rgba(165,162,224,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #000000; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-toyred { 
    --user-gradient: linear-gradient(to bottom, rgba(242,164,162,1) 0%,rgba(230,80,78,1) 24%,rgba(193,11,7,1) 50%,rgba(226,51,48,1) 79%,rgba(233,99,97,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-mudgreen { 
    --user-gradient: linear-gradient(to bottom, rgba(127,120,41,1) 0%,rgba(135,129,47,1) 50%,rgba(110,105,26,1) 51%,rgba(104,97,18,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

/* Green */
.private-message-bubble.user-color-deepbrown { 
    --user-gradient: linear-gradient(to bottom, rgba(173,101,73,1) 0%,rgba(69,39,27,1) 50%,rgba(56,27,16,1) 51%,rgba(104,73,60,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

.private-message-bubble.user-color-teal2 { 
    --user-gradient: linear-gradient(to bottom, rgba(190,194,196,1) 0%,rgba(187,200,205,1) 17%,rgba(131,157,165,1) 50%,rgba(103,137,149,1) 51%,rgba(116,155,164,1) 59%,rgba(131,179,185,1) 71%,rgba(103,140,149,1) 84%,rgba(72,95,106,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #ffffff; 
}

.private-message-bubble.user-color-palegreen { 
    --user-gradient: linear-gradient(to bottom, rgba(191,210,148,1) 0%,rgba(134,170,108,1) 44%,rgba(62,117,59,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #e4e4e4; 
}

.private-message-bubble.user-color-negative { 
    --user-gradient:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    --user-tail-color: #000000; 
    --user-text-color: #000000; 
    --user-border-color: #000000; 
}

.private-message-bubble.user-color-cnegative { 
    --user-gradient:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    --user-tail-color: #da0053; 
    --user-text-color: #000000; 
    --user-text-shadow-color: #ffffff;
    --user-border-color: #da0053; 
}

.private-message-bubble.user-color-caution { 
    --user-gradient:  linear-gradient(to bottom, rgb(0 0 0) 0%,rgb(19 19 19) 47%,rgb(11 11 11) 100%);
    --user-tail-color: #efec15; 
    --user-text-color: #ffffff; 
    --user-text-shadow-color: #000000;
    --user-border-color: #efec15; 
}

.private-message-bubble.user-color-policeman2 { 
    --user-gradient: linear-gradient(to bottom, rgba(53,117,131,1) 0%,rgba(36,80,65,1) 50%,rgba(3,9,3,1) 51%,rgba(7,3,5,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #e4e4e4; 
}

.private-message-bubble.user-color-brown { 
    --user-gradient: linear-gradient(to bottom, rgba(161,100,3,1) 0%,rgba(107,67,3,1) 50%,rgba(93,58,3,1) 51%,rgba(148,93,4,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #e4e4e4; 
}

.private-message-bubble.user-color-navy { 
    --user-gradient: linear-gradient(to bottom, rgba(125,149,195,1) 0%,rgba(87,112,179,1) 22%,rgba(75,99,163,1) 33%,rgba(70,91,154,1) 50%,rgba(65,87,145,1) 67%,rgba(41,51,83,1) 82%,rgba(33,31,57,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-border-color: #e4e4e4; 
}
.private-message-bubble.user-color-lenn { 
    --user-gradient: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(147,185,184,1) 100%);
    --user-tail-color: #bae2e1;
    --user-text-color: #c6491c;
    --user-text-shadow-color: #bd7a5e9c;
    --user-border-color: #bae2e1;
}

.private-message-bubble.user-color-darkgray { 
    --user-gradient:   linear-gradient(to bottom, rgba(92,96,102,1) 0%,rgba(92,96,102,1) 24%,rgba(89,96,102,1) 36%,rgba(40,52,59,1) 100%);
    --user-tail-color: #ffffff; 
    --user-text-color: #ffffff; 
    --user-text-shadow-color: #000000;
    --user-border-color: #ffffff; 
}
.private-message-bubble.user-color-kisin {
    --user-gradient: url(../images/Kisin_fire3.gif);
    --user-tail-color: #05f6fd;
    --user-text-color: #05f6fd;
    --user-text-shadow-color: #5eb5bd9c;
    --user-border-color: #05f6fd;
}

.private-message-bubble.user-color-spooky2 {
    --user-gradient:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,220,220,1) 27%,rgba(237,218,218,1) 27%,rgba(252,0,0,1) 100%);
    --user-tail-color: #ff2a2a;
    --user-text-color: #000000;
    --user-text-shadow-color: #000000;
    --user-border-color: #ff2a2a;
}

.private-message-bubble.user-color-spooky3 {
    --user-gradient:linear-gradient(to bottom, rgba(244,114,38,1) 0%,rgba(244,120,38,1) 22%,rgba(242,0,0,1) 50%,rgba(244,120,38,1) 79%,rgba(244,114,38,1) 100%);
    --user-tail-color: #ff2121;
    --user-text-color: #ffffff;
    --user-text-shadow-color: #000000;
    --user-border-color: #ff2121;
}

.private-message-bubble.user-color-spooky4 {
    --user-gradient:linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 50%,rgba(255,35,39,1) 100%);
    --user-tail-color: #ff2121;
    --user-text-color: #ffffff;
    --user-text-shadow-color: #000000;
    --user-border-color: #ff2121;
}

.private-message-bubble.user-color-spooky5 {
    --user-gradient:url(../images/electric.gif), linear-gradient(to bottom, rgba(117,170,24,1) 0%,rgba(67,105,3,1) 100%);
    --user-tail-color: #ffffff;
    --user-text-color: #ffffff;
    --user-text-shadow-color: #000000;
    --user-border-color: #ffffff;
}

.private-message-bubble.user-color-spooky6 {
    --user-gradient:linear-gradient(to bottom, rgb(0 0 0) 0%,rgb(0 0 0) 27%,rgb(0 0 0) 27%,rgba(252,0,0,1) 100%);
    --user-tail-color: #ff2a2a;
    --user-text-color: #ffffff;
    --user-text-shadow-color: #000000;
    --user-border-color: #ff2a2a;
}